/* html {
        height:100%;
        padding:0 0.5% 0 0.5%;
        background-color:white;
    }*/
body{
/*    font-family: Tahoma, Arial, sans-serif;*/
    font-size: 17px;
    max-width:1000px;
        min-height:96%;
        padding: 0.1px 25px 0.1px 25px;
        margin:auto;
        margin-top:1.5%;
        margin-bottom:0.5%;
        background-color:white;
}

a:link, a:visited{
    color: #0000FF;
    text-decoration: none;
}

a:hover{
    color: #FFA500;
    text-decoration: none;
    cursor: pointer;
}

#display_pic{
    width: 240px;
}

ul li {
    margin-bottom: 10px;
}

#header-table{
    margin-bottom: 20px;
    font-size: 15px;
}

#header-td{
    padding-right: 15px;
}

@media only screen and (max-width: 767px) {
h1, h2, p {
font-size: 30px;
}
width: auto
}



   

h2{
    margin: 20px 20px 20px 20px;
    width: 900px;
    font-family: serif;
    font-variant: small-caps;
    font-size: 22px;
}
p{
    margin: 20px 20px 20px 20px;
    width: 900px;
    font-size: 16px;
    font-family: "Georgia", serif;
/*    font-smooth: auto;*/
/*    max-width: 750px;*/

}
/*img#profile:hover {
  transform: scale(1.00009);
}*/
.navbar {
    background-color: #f7f7f7; /* grey background */
    padding: 1em;
    text-align: left;
    margin: 0!important;
    border-radius: 13px;
  }

 .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    font-family: serif;
    font-size: 18px;
    font-style: none;
    margin-top: 5px;
    margin-left: 10px;
    align-items: center;
    font-variant: small-caps;
  }

 .navbar li {
    margin-right: 30px;
  }

 .navbar a {
    color: #333;
    text-decoration: none;
/*    font-weight: 500;*/
  }

 .navbar a:hover {
    color: #B96A17;
    text-decoration: none;
    cursor: pointer;
  }
  footer{
    text-align: right;
    bottom: 0;
/*    font-weight: light;*/
/*    position: static;*/
    width: 100%;

  }